.c-checkbox {
  display: inline-block;
  height: 24px;
  margin: 0;
  padding: 0;
  padding-left: 32px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.c-checkbox__input {
  border: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 0;

  &:checked {
    ~ .c-checkbox__outline .fa {
      opacity: 1;
    }
  }
}

.c-checkbox__label {
  color: $color-theme-lighter1;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  position: relative;
  vertical-align: middle;
  user-select: none;
}

.c-checkbox__outline {
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  left: 0;
  position: absolute;
  top: 3px;
  transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), background 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;

  .fa {
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .fa-check {
    font-size: 20px;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: -0.1875rem;
  }

  .fa-times {
    font-size: 20px;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: -2px;
  }
}

.c-checkbox--black {
  .c-checkbox__outline {
    border-color: $color-theme-lighter1;
  }

  .fa-check {
    color: $color-black;
  }

  .fa-times {
    color: $color-black;
  }
}

.c-checkbox--maroon {
  .c-checkbox__outline {
    border-color: $color-black;
  }

  .fa-check {
    color: $color-theme-lighter1;
  }
}

.c-checkbox--maroon-outline {
  .c-checkbox__input {
    &:checked {
      ~ .c-checkbox__outline {
        background: $color-theme-lighter1;
        border-color: $color-theme-lighter1;
      }
    }
  }
}
