.c-side-menu {
  float: left;
  padding-top: 2rem;
  width: 18rem;

  &.is-fixed {
    position: fixed;
    top: 0;
  }
}

.c-side-menu__title {
  color: $color-font-white;
  padding-right: 2rem;
  text-align: right;
}

.c-side-menu__links {
  @include flex-container(column, flex-end);
}

.c-side-menu__link {
  font-weight: 700;
  @include font-size(18px);
  margin-bottom: $base-radius;
  padding: .5rem 2rem .5rem 0;
  position: relative;
  text-align: right;

  &:hover {
    color: $color-font-white;
  }

  &.is-active {
    color: $color-font-highlight;

    &:after {
      background-color: $color-font-highlight;
      content: '';
      height: 2.5rem;
      position: absolute;
      right: -3px;
      top: 0;
      width: 6px;
      z-index: 10;
    }
  }
}
