.c-button {
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  padding: 0 20px;
  min-width: 64px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  font-weight: 500;
  transition: color 0.2s cubic-bezier(0.4,0,0.2,1), border-color 0.2s cubic-bezier(0.4,0,0.2,1), background 0.2s cubic-bezier(0.4,0,0.2,1);

  &[disabled] {
    border: 0;
    cursor: default;
    background: $color-font-gray;
    color: $color-white;
  }

  .fa {
    padding-right: 8px;
  }
}

.c-button--basic {
  color: $color-maroon-darker;
  border-color: $color-maroon-darker;
  background: $color-white;

  &:not([disabled]):hover {
    @extend .c-button--hover;
  }

  &:active {
    @extend .c-button--active;
  }
}

.c-button--hover {
  color: $color-white;
  border-color: $color-maroon-input-bg;
  background: $color-maroon-input-bg;
}

.c-button--active {
  color: $color-white;
  border-color: $color-maroon-darker;
  background: $color-maroon-darker;
}

.c-button--rounded--active {
  @extend .c-button--active;
  border-radius: 20px;
}

.c-button--rounded {
  @extend .c-button--basic;
  border-radius: 20px;
}


.c-button-group {
  display: flex;

  .c-button {
    &:not(:first-of-type):not(:last-of-type) {
      border-radius: 0;
    }

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-left: 0;
    }

    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    + .c-button {
      margin-left: -1px;
    }

    &:not([disabled]):hover {
      position: relative;
      z-index: 2;
    }
  }

  .c-button--rounded {
    color: $color-white;
    border-color: $color-maroon-darker;
    background: $color-maroon-darker;

    &:not(:first-of-type) {
      border-left-color: $color-white;
    }

    &:active {
      color: $color-white;
      border-color: $color-maroon-input-bg;
      background: $color-maroon-input-bg;
    }

    &:first-of-type {
      &:not([disabled]):hover {
        border-left-color: $color-black;
      }
    }

    &:last-of-type {
      &:not([disabled]):hover {
        border-right-color: $color-black;
      }
    }

    &:not([disabled]):hover {
      background: $color-black;
      border-top-color: $color-black;
      border-bottom-color: $color-black;
      border-right-color: $color-white;
    }

    &:active {
      border-right-color: $color-white;
      border-left-color: $color-white;
    }
  }
}
