.c-main {
  background-color: $color-white;
  color: $color-font-black;
  padding: 8.5rem;
}

.c-article {
  margin-bottom: 4 * $base-spacing-unit;
}

.c-section {
  margin-bottom: 2 * $base-spacing-unit;
}

.c-showcase {
  margin-bottom: $base-spacing-unit-large;
}

.c-hr {
  background-color: $color-font-white;
  border: 0;
  height: 6px;
  margin-bottom: 2 * $base-spacing-unit;
}
