.c-radio {
  display: inline-block;
  height: 24px;
  margin: 0;
  padding: 0;
  padding-left: 32px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.c-radio__input {
  border: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 0;
  &:checked {
    ~ .c-radio__outline {
      &::after {
        background: $color-maroon-lighter1;
      }
    }
  }

  appearance: none;
}

.c-radio__label {
  color: $color-maroon-lighter1;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  position: relative;
  vertical-align: middle;
  user-select: none;
}

.c-radio__outline {
  border: 1px solid $color-maroon-lighter1;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 16px;

  &::after {
    background: $color-font-gray;
    border-radius: 50%;
    content: "";
    height: 12px;
    left: 1px;
    position: absolute;
    top: 1px;
    transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    width: 12px;
  }
}
