.c-button {
  background-color: $color-white;
  border: 1px solid $color-theme;
  border-radius: $base-radius;
  color: $color-theme;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-family: $base-font-family;
  height: $base-spacing-unit * 2.5;
  line-height: $base-spacing-unit * 2.5;
  padding: 0 $base-spacing-unit;
  text-align: center;
  transition: color 0.15s linear, border-color 0.15s linear, background 0.15s linear;

  &:hover {
    background-color: $color-theme-lighter1;
    border-color: $color-theme-lighter1;
    color: $color-white;
  }

  &:active {
    background-color: $color-theme;
    border-color: $color-theme;
  }

  &:disabled {
    background: $color-disabled;
    border-color: $color-disabled;
    color: $color-white;
    cursor: default;
  }

  .fa {
    padding-right: $base-spacing-unit / 2;
  }
}

.c-button--rounded {
  @extend .c-button;
  border-radius: $base-spacing-unit * 1.25;
}

.c-button-group {
  @include flex-container($spacing: stretch);

  :not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
  }

  :not(:first-of-type) {
    border-left-width: 0;
  }

  :disabled + :not(:first-of-type) {
    border-left-width: 1px;
  }

  :first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  :last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
