.c-accordion__input {
  display: none;
}
.c-accordion__overview {
  display: block;
  background-color: black;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  cursor: pointer;
  margin-top: 1px;
}
.c-accordion__content {
  display: none;
  background-color: #fff;
}
.c-accordion__input:checked ~ .c-accordion__content {
  display: block;
}
.c-accordion__title {
  padding: 16px 12px 12px 20px;
  margin: 0;
  color: $color-font-gray;
  font-weight: 400;
  font-size: 18px;
}
.c-accordion-panels {
  padding: 24px;
  border-top: 3px solid $color-maroon;
}
.c-accordion-panel__title {
  font-size: 14px;
  color: rgba(0, 0, 0, .54);
  line-height: 20px;
}