.c-code-box {

}

.c-code-box__toggle {
  display: none;
}

.c-code-box__header {
  @include flex-container($spacing: space-between);
  color: $color-font-black;
  font-weight: 700;
  margin-bottom: $base-spacing-unit;

  &:hover {
    color: $color-maroon-input-bg;
  }

  :nth-last-of-type(1) {
    display: block;
  }
  :nth-last-of-type(2) {
    display: none;
  }

  @at-root .c-code-box__toggle:checked + & {
    color: $color-maroon;

    &:hover {
      color: $color-maroon-input-bg;
    }

    :nth-last-of-type(1) {
      display: none;
    }

    :nth-last-of-type(2) {
      display: block;
    }
  }
}

.c-code-box__label {
  cursor: pointer;
  flex-grow: 1;
  &:not(:first-of-type) {
    text-align: right;
  }
  user-select: none;
}

.c-code-box__code {
  @include font-size(12px);
  background-color: $color-code-bg;
  border: 1px solid $color-font-gray;
  border-radius: $base-radius;
  color: $color-code-attributes;
  max-height: 0;
  overflow: auto;
  padding: 0 $base-spacing-unit-large;
  transition: all 0.3s ease-in-out;

  @at-root .c-code-box__toggle:checked ~ & {
    border-color: $color-code-bg;
    padding: $base-spacing-unit $base-spacing-unit-large;
    max-height: 500px;
  }
}
