.c-pagination {
  align-items: center;
  display: flex;
  list-style: none;

  li {
    &:first-of-type {
      margin-right: 48px;
    }

    &:last-of-type {
      margin-left: 48px;
    }
  }
}

%c-pagination--variations {
  li {
    &:first-of-type {
      margin-right: 32px;
    }

    &:last-of-type {
      margin-left: 32px;
    }
  }

  .c-pagination__item {
    color: $color-maroon-lighter1;
    &.current {
      background: $color-maroon-lighter1;
      color: $color-white;
      font-weight: 300;
    }
  }
}

%c-pagination--variations-fonts {
  align-items: center;
  border: 1px solid $color-maroon-lighter1;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.c-pagination--round {
  @extend %c-pagination--variations;
  .c-pagination__item, .c-pagination__arrow {
    border-radius: 50%;
    @extend %c-pagination--variations-fonts;
  }
}

.c-pagination--square {
  @extend %c-pagination--variations;
  .c-pagination__item {
    @extend %c-pagination--variations-fonts;
  }
}

.c-pagination__item {
  font-size: 14px;
  margin-right: 32px;

  &:nth-last-child(2) {
    margin-right: 0;
  }

  &.disabled {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &.current {
    color: $color-maroon-lighter1;
    font-weight: 700;
  }
}

.c-pagination__arrow {
  color: $color-maroon-lighter1;
}
