.c-buttons-showcase {
  @include flex-container($spacing: space-between);
  margin-bottom: $base-spacing-unit-large;

}

.c-button-container {
  @include flex-container(column);
  flex-shrink: 0;
}

.c-button-description {
  @include font-size(12px);
  color: $color-font-gray;
  text-transform: uppercase;
}
