.c-accordion__input {
  display: none;
}

.c-accordion__overview {
  background-color: black;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  cursor: pointer;
  display: block;
  margin-top: 1px;
}

.c-accordion__content {
  background-color: #fff;
  display: none;
}

.c-accordion__input:checked ~ .c-accordion__content {
  display: block;
}

.c-accordion__title {
  color: $color-disabled;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 16px 12px 12px 20px;
}

.c-accordion-panels {
  border-top: 3px solid $color-theme;
  padding: 24px;
}

.c-accordion-panel__title {
  color: rgba(0, 0, 0, .54);
  font-size: 14px;
  line-height: 20px;
}
