.c-tab__input {
  position: absolute;
  left: -10000px;
}
.c-tab__container {
  max-width: 650px;
  margin: 48px 0 48px 0;
}
.c-tab__bar {
  display: flex;
  height: 48px;
  overflow: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.c-tab__bar::-webkit-scrollbar {
  display: none;
}
.c-tab-group {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  height: 48px;
  font-size: 14px;
  position: relative;
}
.c-tab-group--vertical {
  display: flex;
  flex-direction: column;
  width: 200px
}
.c-tab__label--stairs {
  min-width: 72px;
  flex-basis: 140px;
  padding: 0 12px;
  line-height: 48px;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 5px 5px 0 0;
  color: #fff;
}
.c-tab-1--stairs {
  background-color: $color-maroon-darker;
}
.c-tab-2--stairs {
  background-color: $color-maroon;
}
.c-tab-3--stairs {
  background-color: $color-maroon-lighter1;
}
.c-tab-4--stairs {
  background-color: $color-maroon-lighter3;
}
.c-tab__label--underline {
  min-width: 72px;
  flex-basis: 140px;
  padding: 0 12px;
  line-height: 48px;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
  color: $color-font-gray;
  border-bottom: 5px solid $color-font-gray;
  margin: 0 6px 0 0;
}
.c-tab__label--folder {
  min-width: 100px;
  width: 120px;
  padding: 0 12px;
  line-height: 48px;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
}
#c-tab-1--stairs:checked ~ .c-tab__bar .c-tab-1--stairs,
#c-tab-2--stairs:checked ~ .c-tab__bar .c-tab-2--stairs,
#c-tab-3--stairs:checked ~ .c-tab__bar .c-tab-3--stairs,
#c-tab-4--stairs:checked ~ .c-tab__bar .c-tab-4--stairs {
  border: 1px solid $color-font-black;
  border-bottom: none;
  color: $color-font-black;
  border-radius: 3px 3px 0 0;
  background-color: #fff !important;
}
#c-tab-1--underline:checked ~ .c-tab__bar .c-tab-1--underline,
#c-tab-2--underline:checked ~ .c-tab__bar .c-tab-2--underline,
#c-tab-3--underline:checked ~ .c-tab__bar .c-tab-3--underline,
#c-tab-4--underline:checked ~ .c-tab__bar .c-tab-4--underline {
  border-bottom: 5px solid $color-maroon;
  color: $color-font-black;
}
#c-tab-1--folder:checked ~ .c-tab__bar .c-tab-1--folder,
#c-tab-2--folder:checked ~ .c-tab__bar .c-tab-2--folder,
#c-tab-3--folder:checked ~ .c-tab__bar .c-tab-3--folder,
#c-tab-4--folder:checked ~ .c-tab__bar .c-tab-4--folder {
  border-top: 1px solid $color-maroon;
  color: $color-maroon;

  &:after {
    content: "";
    border-bottom: 1px solid $color-maroon;
    width: 80px;
    position: absolute;
    transform: rotate(72deg);
    transform-origin: 43px;
  }
}
.c-tab__panel-group--stairs {
  border: 1px solid rgba(0,0,0,.87);
  padding: 54px 35px 35px 35px;
  border-radius: 0 0 3px 3px;
}
.c-tab__panel-group--underline {
  padding: 54px 35px 35px 35px;
}
.c-tab__panel-group--folder {
  border-bottom: 1px solid $color-maroon;
  border-right: 1px solid $color-maroon;
  padding: 54px 35px 35px 35px;
  border-radius: 0 0 3px 0;
}
.c-tab__panel {
  display: none;
}
#c-tab-1--stairs:checked ~ .c-tab__panel-group--stairs .c-tab__panel-1--stairs,
#c-tab-2--stairs:checked ~ .c-tab__panel-group--stairs .c-tab__panel-2--stairs,
#c-tab-3--stairs:checked ~ .c-tab__panel-group--stairs .c-tab__panel-3--stairs,
#c-tab-4--stairs:checked ~ .c-tab__panel-group--stairs .c-tab__panel-4--stairs {
  display: block;
}
#c-tab-1--underline:checked ~ .c-tab__panel-group--underline .c-tab__panel-1--underline,
#c-tab-2--underline:checked ~ .c-tab__panel-group--underline .c-tab__panel-2--underline,
#c-tab-3--underline:checked ~ .c-tab__panel-group--underline .c-tab__panel-3--underline,
#c-tab-4--underline:checked ~ .c-tab__panel-group--underline .c-tab__panel-4--underline {
  display: block;
}
#c-tab-1--folder:checked ~ .c-tab__panel-group--folder .c-tab__panel-1--folder,
#c-tab-2--folder:checked ~ .c-tab__panel-group--folder .c-tab__panel-2--folder,
#c-tab-3--folder:checked ~ .c-tab__panel-group--folder .c-tab__panel-3--folder,
#c-tab-4--folder:checked ~ .c-tab__panel-group--folder .c-tab__panel-4--folder {
  display: block;
}

// placeholder content
.c-tab__feature {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .c-tab__feature {
    flex-direction: row;
  }
}
.c-tab__feature-image {
  height: 200px;
  width: 220px;
  border-radius: 3px;
  margin: 0 24px 0 0;
}
.c-tab__feature-date {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: $color-font-gray;
}
.c-tab__feature-title {
  margin: 0 0 16px 0;
  font-size: 34px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.c-tab__feature-subtitle {
  font-size: 12px;
  color: $color-font-gray;
  font-family: 'Roboto', sans-serif;
}
.c-tab__feature-button {
  display: block !important; /* override inline default */
  margin: 24px 24px 0 auto;
}
