.c-list {
  background-color: transparent;
  @include flex-container(column, stretch);
  list-style: none;
}

.c-list__item {
  background-color: $color-theme-lighter5;
  border: 1px solid $color-theme;
  border-bottom: none;
  color: $color-theme-darker1;
  padding: 1rem;
  transition: background-color 0.2s ease-in;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);

  &:first-of-type {
    border-radius: $base-radius $base-radius 0 0;
  }

  &:last-of-type {
    border-bottom: 1px solid $color-theme;
    border-radius: 0 0 $base-radius $base-radius;
  }

  & > .c-list {
    margin-top: 1rem;
  }

  &:hover {
    background-color: $color-theme-lighter4;
  }
}

.c-ordered-list--lower-alpha {
  list-style-type: lower-alpha;
}

.c-ordered-list--upper-alpha {
  list-style-type: upper-alpha;
}

.c-ordered-list--lower-roman {
  list-style-type: lower-roman;
}

.c-ordered-list--upper-roman {
  list-style-type: upper-roman;
}
