.c-header {
  background-color: $color-bg-gray-dark;
  padding: 4.5rem;
  padding-bottom: 0;
}

.c-header__title {
  @include flex-container($spacing: space-between);
  margin-bottom: 4rem;
}

.c-title {
  margin-bottom: 0;
}

.c-header__search {
  color: $color-font-clay;
  height: 2.5em;
  position: relative;
  z-index: 10;
}

.c-search__input {
  background-color: transparent;
  border: 1px solid $color-font-clay;
  border-radius: $base-radius 0 0 $base-radius;
  color: $color-font-clay;
  display: inline-block;
  height: 2.5em;
  margin-right: 2.5em;
  padding: .25em .5em;
  width: 13em;
}

.c-search__button {
  @include flex-container(row, center, center);
  border: 1px solid $color-font-clay;
  border-left: none;
  border-radius: 0 4px 4px 0;
  bottom: 0;
  color: $color-font-clay;
  cursor: pointer;
  height: 2.5em;
  left: 13em;
  position: absolute;
  transition: color 0.15s ease-out;
  width: 2.5em;

  &:hover {
    color: $color-font-white;
  }

  .fa-search {
    bottom: 1px;
    left: 1px;
    position: relative;
  }
}

.c-search__placeholder {
  @include font-size(18px);
  color: darken($color-font-clay, 10%);
  display: inline-block;
  left: .5em;
  position: absolute;
  top: .4em;
  z-index: -1;

  @at-root .c-search__input:focus ~ &,
  .c-search__input:valid ~ & {
    display: none;
  }
}
