ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

li > {

  ul,
  ol {
    margin-bottom: $base-spacing-unit;
    margin-left: $base-spacing-unit;
  }

  ul {
    list-style: circle inside;
  }

  ol {
    list-style: decimal inside;
  }

}
