$color-black: #000;
$color-white: #fff;

$color-bg-dark: #22262a;
$color-bg: #30353b;
$color-disabled: #bdbdbd;

$color-font-page: #71869c; // main title and left menu items
$color-font-highlight: #49bcd8; // blue for highlighted menu items
$color-font-black: #212121; // inner content font color
$color-font-white: #e7e7e7;

// Maroon scale for buttons and tabs
$color-theme: #c2185b;
$color-theme-darker1: darken($color-theme, 10%);
$color-theme-darker2: darken($color-theme, 20%);
$color-theme-lighter1: lighten($color-theme, 10%);
$color-theme-lighter2: lighten($color-theme, 20%);
$color-theme-lighter3: lighten($color-theme, 30%);
$color-theme-lighter4: lighten($color-theme, 40%);
$color-theme-lighter5: lighten($color-theme, 50%);


$color-alpha: rgba(50, 50, 50, .4);
