$color-black: #000;
$color-white: #fff;

$color-bg-gray-dark: #22262a; //title background
$color-bg-gray: #30353b; // outer content background and search box
$color-bg-white: #fffefe; // inner content background box

$color-font-gray: #bdbdbd; // button states and some disabled things
$color-font-clay: #71869c; // main title and left menu items
$color-font-highlight: #49bcd8; // blue for highlighted menu items
$color-font-black: #212121; // inner content font color
$color-font-white: #e7e7e7;

$color-code-bg: $color-bg-gray;
$color-code-symbols: #5f6975;
$color-code-elements: $color-font-highlight;
$color-code-attributes: #a4a9af;
$color-code-attr-values: #b5cdd2;
$color-code-text: #efeff0;

// Maroon scale for buttons and tabs
$color-maroon-darker: #A7335C;
$color-maroon: #c2185b;
$color-maroon-lighter1: #E91E63;
$color-maroon-lighter2: #FF4081;
$color-maroon-lighter3: lighten($color-maroon-lighter2, 10%);
$color-maroon-lighter4: #F8BBD0; //pencil icon on the third card
$color-maroon-lighter5: lighten($color-maroon-lighter4, 10%);

$color-maroon-input-bg: #ce467B; // Form inputs background
$color-mroon-input-border: #e59fba; // Form border
